:root {
  --bg-color: #333333;
  --fg-color: #cccccc;
  --anchor-color: #ffcc99;
  --visited-color: #cc99ff;
}

body, div, a {
  background-color: var(--bg-color) !important; /* background color */
  background: var(--bg-color) !important; /* background color */
  background-image: linear-gradient(
    var(--bg-color),
    var(--bg-color)
  ) !important; /* background gradient, its used on some websites */
  color: var(--fg-color) !important; /* text color */
  opacity: 100% !important; /* make everything on the page 90% brightness */
}

button, .btn {
  border-color:  var(--fg-color) !important; /* border color for buttons */
}

a:link {
  color: var(--anchor-color) !important; /* color for unvisited links */
  border-bottom: #cccccc 1px solid !important; /* add underline to all clickable links */
}

a:visited {
  color: var(--visited-color) !important; /* color for visited links */
}

a:hover {
  color: #ffffff !important; /* color for links that mouse hovers over them */
}

/* a:focus {
color: rgb(255, 255, 0) !important;
} */

a:active {
  color: #e2e2e2 !important; /* color for links that you clicked but haven't let go of the left mouse button */
}

* {
  scrollbar-color: #b4b4b4 #333 !important;
  scrollbar-width: thin !important;
}

html {
  scrollbar-color: #343434 #000000 !important;
  scrollbar-width: thin !important;
}

p {
  color: #dddddd !important; /* text color */
}

b,
em,
i,
u,
em,
small {
  color: #c4c4c4 !important; /* color for bold text and glyphs */
}

/* h1, h2 {
color: rgba(202, 202, 202, 1) !important;
} */

ul,
ol,
li,
del,
dt,
dd,
optgroup,
dl {
  background-color: var(--bg-color) !important;  /* background color */
  color: var(--fg-color) !important; /* text color */ /* color for all list types + */
}

table,
td,
th,
tr,
col,
caption,
thead,
tbody,
tfoot,
colgroup,
dialog {
  background-color: #333333 !important; /* background color for all tables + */
  color: #dddddd !important; /* color for all tables + */
}

img {
  filter: brightness(80%) !important; /* make all images have 75% brightness */
  background: var(--bg-color) !important; /* background color of loading images (not all websites/images use this) */
  background-color: var(--bg-color) !important; /* background color of loading images (not all websites/images use this) */
  transition: ease 0.5s !important;
}

img:hover {
  transition: ease 0.5s !important;
  filter: brightness(100%) !important;
}

code,
blockquote,
q,
nav,
sup,
sub,
strong,
mark,
marker {
  background-color: #333333 !important; /* background color for code snippets and quotes + */
  color: #cccccc !important; /* color for code snippets and quotes + */
}

label,
form,
select,
dialog,
textarea,
input:not(
    [type="checkbox"],
    [type="radio"],
    [type="reset"],
    [type="button"],
    [type="submit"]
  ) {
  background-color: #333333 !important; /* background color for forms and input areas + */
  color: #dddddd !important; /* text color for forms and input areas + */
  border-color: #bbbbbb !important; /* border color */
  border-width: 1px !important; /* add 1 pixel width border */
  -moz-appearance: none !important;
}

input:is(
    [type="checkbox"],
    [type="radio"],
    [type="reset"],
    [type="button"],
    [type="submit"]
  ) {
  background-color: #cccccc !important;
  color: var(--bg-color) !important;
  filter: invert(100%) hue-rotate(180deg) !important;
}

button, .btn {
  background-color: #444444 !important; /* background color for buttons */
  border-color: #a9a9a9 !important; /* border color for buttons */
  color: #cccccc !important; /* color for text on buttons */
}



/* below lines are for styling about pages in firefox */
@-moz-document url-prefix("about:") {
  html,
  body,
  div {
    background-color: var(--bg-color) !important;
    background: var(--bg-color) !important;
    background-image: linear-gradient(
      var(--bg-color),
      var(--bg-color)
    ) !important;
  }
}

/* style these three pages seperately than other about:pages */
@-moz-document regexp("^about:(downloads|logins|preferences).*") {
  *:not(.checkbox-check, input, button, [class*="button-"]) {
    background-color: var(--bg-color) !important;
    background: var(--bg-color) !important;
    background-image: linear-gradient(
      var(--bg-color),
      var(--bg-color)
    ) !important;
    color: #dddddd !important;
  }
}
